In [1]:
import pandas as pd
import numpy as np
import folium
from haversine import haversine, Unit
from geopy.geocoders import Nominatim
from folium.plugins import MarkerCluster
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA
%matplotlib inline

# 관련 라이브러리 임포트 
import matplotlib.font_manager as fm

#  한글글꼴로 변경
# plt.rcParams['font.family'] = '한글글꼴명'
plt.rcParams['font.size'] = 11.0
# plt.rcParams['font.family'] = 'batang'
plt.rcParams['font.family'] = 'Malgun Gothic'

# 그래프에서 마이너스 폰트 깨지는 문제에 대한 대처
matplotlib.rcParams['axes.unicode_minus'] = False

# 그래프 기본 크기 설정 
plt.rcParams['figure.figsize'] = [10, 6]

import warnings
warnings.filterwarnings('ignore')

In [2]:
data1 = pd.read_excel('data/al_Mega_address.xlsx')
del data1['Unnamed: 0']
data1.head(1)

,ID,18/1 거래금액(만원),18/1~18/2,증감률,18/1 cluster,18/2 거래금액(만원),18/2~18/3,증감률.1,18/2 cluster,18/3 거래금액(만원),...,22/1 cluster,18/1 거래금액(만원).1,22/2 cluster,전용면적,건축년도,인접역 수,Brand,BrandPower,위도,경도
0,서울특별시 강남구 개포동 개포6차우성아파트1동~8동 80,218666.7,3666.7,1.676844,1,215000.0,0.0,0.0,2,215000.0,...,0,129125.0,1,80,1987.0,0,0,0,37.483372,127.053437

In [3]:
data2 = pd.read_excel('data/NewRent.xlsx')
del data2['Unnamed: 0']
data2.head(1)

,시군구,단지명,전월세구분,전용면적(㎡),계약년월,보증금(만원),월세(만원),층,건축년도,도로명,분기
0,서울특별시 강남구 개포동,SH대치1단지아파트,월세,30,2018-03-01,"3,865",17,11,1991.0,개포로109길 5,2018/1

In [4]:
data2['ID'] = data2['시군구'] + ' ' + data2['단지명'] + ' ' + data2['전용면적(㎡)'].astype('str')
data2.head(1)

,시군구,단지명,전월세구분,전용면적(㎡),계약년월,보증금(만원),월세(만원),층,건축년도,도로명,분기,ID
0,서울특별시 강남구 개포동,SH대치1단지아파트,월세,30,2018-03-01,"3,865",17,11,1991.0,개포로109길 5,2018/1,서울특별시 강남구 개포동 SH대치1단지아파트 30

In [5]:
data2['계약년월'] = pd.to_datetime(data2['계약년월'], format='%Y%m')
data2['분기'], data2['년도'] = (data2['계약년월'].dt.quarter, data2['계약년월'].dt.year)
data2['분기'] = data2[['년도','분기']].apply(lambda row:'/'.join(row.values.astype(str)), axis=1)
data2.head(5)

,시군구,단지명,전월세구분,전용면적(㎡),계약년월,보증금(만원),월세(만원),층,건축년도,도로명,분기,ID,년도
0,서울특별시 강남구 개포동,SH대치1단지아파트,월세,30,2018-03-01,"3,865",17,11,1991.0,개포로109길 5,2018/1,서울특별시 강남구 개포동 SH대치1단지아파트 30,2018
1,서울특별시 강남구 개포동,개포2차현대아파트,월세,80,2018-02-01,"39,000",30,4,1988.0,언주로 103,2018/1,서울특별시 강남구 개포동 개포2차현대아파트 80,2018
2,서울특별시 강남구 개포동,개포2차현대아파트,전세,80,2018-04-01,"52,000",0,9,1988.0,언주로 103,2018/2,서울특별시 강남구 개포동 개포2차현대아파트 80,2018
3,서울특별시 강남구 개포동,개포2차현대아파트,전세,80,2018-05-01,"50,000",0,5,1988.0,언주로 103,2018/2,서울특별시 강남구 개포동 개포2차현대아파트 80,2018
4,서울특별시 강남구 개포동,개포2차현대아파트,전세,80,2018-05-01,"56,000",0,9,1988.0,언주로 103,2018/2,서울특별시 강남구 개포동 개포2차현대아파트 80,2018

In [6]:
data2.drop(data2[data2['전월세구분'] == '월세'].index, inplace=True)
data2.head()

,시군구,단지명,전월세구분,전용면적(㎡),계약년월,보증금(만원),월세(만원),층,건축년도,도로명,분기,ID,년도
2,서울특별시 강남구 개포동,개포2차현대아파트,전세,80,2018-04-01,"52,000",0,9,1988.0,언주로 103,2018/2,서울특별시 강남구 개포동 개포2차현대아파트 80,2018
3,서울특별시 강남구 개포동,개포2차현대아파트,전세,80,2018-05-01,"50,000",0,5,1988.0,언주로 103,2018/2,서울특별시 강남구 개포동 개포2차현대아파트 80,2018
4,서울특별시 강남구 개포동,개포2차현대아파트,전세,80,2018-05-01,"56,000",0,9,1988.0,언주로 103,2018/2,서울특별시 강남구 개포동 개포2차현대아파트 80,2018
5,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,전세,70,2018-01-01,"38,000",0,3,1987.0,언주로 3,2018/1,서울특별시 강남구 개포동 개포6차우성아파트1동~8동 70,2018
6,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,전세,80,2018-01-01,"43,000",0,1,1987.0,언주로 3,2018/1,서울특별시 강남구 개포동 개포6차우성아파트1동~8동 80,2018

In [7]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 579046 entries, 2 to 864924
Data columns (total 13 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   시군구      579046 non-null  object
 1   단지명      578129 non-null  object
 2   전월세구분    579046 non-null  object
 3   전용면적(㎡)  579046 non-null  int64
 4   계약년월     579046 non-null  datetime64[ns]
 5   보증금(만원)  579046 non-null  object
 6   월세(만원)   579046 non-null  object
 7   층        579046 non-null  int64
 8   건축년도     578907 non-null  float64
 9   도로명      579046 non-null  object
 10  분기       579046 non-null  object
 11  ID       578129 non-null  object
 12  년도       579046 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(8)
memory usage: 61.8+ MB

In [8]:
data2['보증금(만원)'] = data2['보증금(만원)'].str.replace(' ', '')
data2['보증금(만원)'] = data2['보증금(만원)'].str.replace(',', '')
data2['보증금(만원)'].astype(int)

2         52000
3         50000
4         56000
5         38000
6         43000
          ...
864918    45000
864919    32500
864920    35000
864923    29400
864924    23000
Name: 보증금(만원), Length: 579046, dtype: int32

In [10]:
table = pd.pivot_table(data2, values=['보증금(만원)'], index=['분기'], columns=['ID'], aggfunc=np.mean)
table.round(1)

                          보증금(만원)                                  \
ID     서울특별시 강남구 개포동 개포2차현대아파트 80 서울특별시 강남구 개포동 개포6차우성아파트1동~8동 50
분기
2018/1                        NaN                             NaN
2018/2               1.733350e+14                    3.900000e+04
2018/3               2.650025e+09                    4.000000e+04
2018/4                        NaN                    3.100000e+04
2019/1               5.000000e+04                    2.600000e+04
2019/2               5.000000e+04                    3.000000e+04
2019/3               2.000017e+14                    8.333417e+13
2019/4               2.750032e+09                             NaN
2020/1               5.300000e+04                             NaN
2020/2               2.050022e+14                    1.650015e+09
2020/3               2.000018e+14                             NaN
2020/4               3.250038e+09                             NaN
2021/1               2.666691e+14                             NaN
2021/2               2.625026e+09                    1.333345e+14
2021/3               3.000025e+09                    5.000000e+04
2021/4               5.040000e+04                             NaN
2022/1               3.200032e+09                             NaN
2022/2               2.700035e+09                    1.750018e+09

                                                                        \
ID     서울특별시 강남구 개포동 개포6차우성아파트1동~8동 70 서울특별시 강남구 개포동 개포6차우성아파트1동~8동 80
분기
2018/1                    1.900020e+09                    4.777821e+43
2018/2                    2.000019e+09                    9.000100e+23
2018/3                             NaN                    4.777822e+43
2018/4                    1.000009e+19                    5.125050e+38
2019/1                             NaN                    5.125048e+38
2019/2                    7.500078e+18                    5.833395e+28
2019/3                    3.000000e+04                    8.620084e+23
2019/4                    1.266679e+14                    1.075010e+19
2020/1                             NaN                    7.166742e+28
2020/2                    1.250012e+14                    7.200072e+23
2020/3                    2.000018e+09                    5.375054e+38
2020/4                    1.750019e+09                    1.100011e+19
2021/1                    2.250025e+09                    8.800100e+23
2021/2                    3.000000e+04                    8.666762e+28
2021/3                    1.706267e+09                    1.125011e+19
2021/4                    7.875100e+18                    2.583359e+14
2022/1                    3.950000e+04                    8.625056e+38
2022/2                    3.000028e+09                    1.250015e+19

                                                              \
ID     서울특별시 강남구 개포동 개포더샵트리에 110 서울특별시 강남구 개포동 개포래미안포레스트 100
분기
2018/1                       NaN                         NaN
2018/2                       NaN                         NaN
2018/3                       NaN                         NaN
2018/4              1.000000e+05                         NaN
2019/1                       NaN                         NaN
2019/2                       NaN                         NaN
2019/3                       NaN                         NaN
2019/4                       NaN                         NaN
2020/1                       NaN                         NaN
2020/2                       NaN                6.500008e+10
2020/3                       NaN                1.650002e+58
2020/4                       NaN               8.888898e+105
2021/1                       NaN                3.600004e+28
2021/2                       NaN                         NaN
2021/3                       NaN                1.100001e+11
2021/4              1.818184e+64                1.025001e+11
2022/1              8.750010e+92                         NaN
2022/2              1.777779e+52                2.100000e+05

                                                                \
ID     서울특별시 강남구 개포동 개포래미안포레스트 110 서울특별시 강남구 개포동 개포래미안포레스트 140
분기
2018/1                         NaN                         NaN
2018/2                         NaN                         NaN
2018/3                         NaN                         NaN
2018/4                         NaN                         NaN
2019/1                         NaN                         NaN
2019/2                         NaN                         NaN
2019/3                         NaN                         NaN
2019/4                         NaN                         NaN
2020/1                         NaN                         NaN
2020/2                1.600000e+05                         NaN
2020/3                9.000010e+10                2.400000e+05
2020/4                1.000001e+11                1.100000e+05
2021/1                1.000001e+11                1.400001e+11
2021/2                5.833341e+16                2.600000e+05
2021/3                         NaN                         NaN
2021/4                         NaN                         NaN
2022/1                2.200000e+05                2.900000e+05
2022/2                         NaN                         NaN

                                                              ...  \
ID     서울특별시 강남구 개포동 개포래미안포레스트 50 서울특별시 강남구 개포동 개포래미안포레스트 60  ...
분기                                                            ...
2018/1                        NaN                        NaN  ...
2018/2                        NaN                        NaN  ...
2018/3                        NaN                        NaN  ...
2018/4                        NaN                        NaN  ...
2019/1                        NaN                        NaN  ...
2019/2                        NaN                        NaN  ...
2019/3                        NaN                        NaN  ...
2019/4                        NaN                        NaN  ...
2020/1                        NaN                        NaN  ...
2020/2               2.500025e+14               1.875019e+19  ...
2020/3               1.028581e+34              2.222244e+180  ...
2020/4               2.250023e+19                        inf  ...
2021/1               4.500005e+10               1.111112e+52  ...
2021/2               9.500000e+04               1.571430e+40  ...
2021/3               1.050000e+05               2.875003e+22  ...
2021/4               1.000000e+05               1.030001e+58  ...
2022/1                        NaN               1.100001e+58  ...
2022/2               9.000000e+04               2.500003e+21  ...

                                                                         \
ID     서울특별시 중랑구 중화동 한솔e 50 서울특별시 중랑구 중화동 한솔e 80 서울특별시 중랑구 중화동 한신아파트 50
분기
2018/1                  NaN                  NaN           3.285746e+33
2018/2                  NaN                  NaN           1.300012e+09
2018/3              20000.0                  NaN           5.000054e+23
2018/4                  NaN                  NaN           8.333417e+13
2019/1                  NaN                  NaN           5.600055e+23
2019/2                  NaN                  NaN           3.250031e+38
2019/3                  NaN                  NaN           2.300024e+48
2019/4                  NaN                  NaN           4.333375e+28
2020/1                  NaN                  NaN           2.272750e+53
2020/2                  NaN                  NaN           3.437536e+38
2020/3              25000.0              29000.0           2.900027e+48
2020/4              25000.0                  NaN           4.900057e+28
2021/1                  NaN                  NaN           7.600078e+23
2021/2                  NaN                  NaN           6.500044e+28
2021/3                  NaN                  NaN           7.600053e+23
2021/4                  NaN                  NaN           6.000095e+18
2022/1                  NaN                  NaN           3.742893e+33
2022/2                  NaN                  NaN           1.850018e+09

                                                                          \
ID     서울특별시 중랑구 중화동 한신아파트 60 서울특별시 중랑구 중화동 한신아파트 80 서울특별시 중랑구 중화동 한영 60
분기
2018/1           1.500016e+88           4.857189e+33             20000.0
2018/2           2.800028e+47           7.000064e+23                 NaN
2018/3           2.230792e+63           4.111151e+43                 NaN
2018/4           2.071449e+68           3.800035e+48                 NaN
2019/1           1.764724e+82           7.600100e+22                 NaN
2019/2           3.500034e+38           7.000070e+23                 NaN
2019/3           1.611125e+88           8.750078e+18                 NaN
2019/4          1.282622e+113           3.250030e+58                 NaN
2020/1           2.384637e+63           3.333365e+58                 NaN
2020/2          1.150012e+128           4.333377e+43                 NaN
2020/3           1.933356e+73           5.714343e+33                 NaN
2020/4           2.058841e+83           1.295012e+14                 NaN
2021/1           3.416693e+58           7.857219e+33                 NaN
2021/2           3.250018e+78           6.000052e+33                 NaN
2021/3          1.225021e+118           2.000020e+09                 NaN
2021/4           2.212522e+68           2.000017e+14                 NaN
2022/1           2.250031e+68           3.437524e+78             23000.0
2022/2           2.815951e+53           1.172517e+14                 NaN

                                                                    \
ID     서울특별시 중랑구 중화동 한영 70 서울특별시 중랑구 중화동 한영 80 서울특별시 중랑구 중화동 한영 90
분기
2018/1                 NaN                 NaN                 NaN
2018/2                 NaN                 NaN                 NaN
2018/3                 NaN                 NaN                 NaN
2018/4                 NaN                 NaN                 NaN
2019/1                 NaN              5000.0                 NaN
2019/2                 NaN             24000.0                 NaN
2019/3                 NaN                 NaN                 NaN
2019/4                 NaN                 NaN             28000.0
2020/1                 NaN                 NaN                 NaN
2020/2                 NaN                 NaN                 NaN
2020/3                 NaN             31000.0                 NaN
2020/4                 NaN                 NaN                 NaN
2021/1                 NaN                 NaN                 NaN
2021/2             25000.0                 NaN                 NaN
2021/3                 NaN                 NaN                 NaN
2021/4                 NaN                 NaN             29400.0
2022/1                 NaN                 NaN                 NaN
2022/2                 NaN                 NaN                 NaN


ID     서울특별시 중랑구 중화동 현대휴앤미 80
분기
2018/1                    NaN
2018/2                    NaN
2018/3                    NaN
2018/4                    NaN
2019/1                    NaN
2019/2                    NaN
2019/3                    NaN
2019/4                    NaN
2020/1                    NaN
2020/2                    NaN
2020/3                    NaN
2020/4                    NaN
2021/1                40000.0
2021/2                    NaN
2021/3                    NaN
2021/4                    NaN
2022/1                    NaN
2022/2                    NaN

[18 rows x 16889 columns]